{% extends "@NovosgaScheduling/base.html.twig" %}

{% trans_default_domain 'NovosgaSchedulingBundle' %}

{% block body %}
    <div class="row">
        <div class="col-md-6  col-lg-8">
            <h1>
                <i class="fa fa-address-book" aria-hidden="true"></i>
                {{ 'config_title'|trans }}
                <small>
                    {{ 'config_subtitle'|trans }}
                </small>
            </h1>
        </div>
        <div class="col-md-6 col-lg-4 text-right">
        </div>
    </div>
        
    <hr>

    <div class="alert alert-info">
        <p>Configuração de agendamento para a unidade <strong>{{ unidade.nome }}</strong></p>
    </div>

    <fieldset>
        <legend>
            <a href="{{ 'label.remote_scheduling_app_link'|trans }}?utm_source=novosga&utm_medium=scheduling" target="_blank">
                <span class="text-dark">
                    {{ 'label.remote_scheduling_app'|trans }}
                </span>
                <i class="fa fa-external-link"></i>
            </a>
        </legend>

        {{ form_start(form) }}

            {% include 'flashMessages.html.twig' %}

            <div class="row">
                <div class="col-12 col-lg-8">
                    {{ form_row(form.url) }}
                </div>
                <div class="col-12 col-lg-4">
                    {{ form_row(form.unidadeRemota) }}
                </div>
            </div>

            <div class="buttons">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-check"></i> 
                    {{ 'button.save'|trans }}
                </button>
            </div>
        {{ form_end(form) }}
    </fieldset>

    <hr>

    <h3>{{ 'label.service_configs'|trans }}</h3>
    <table class="table table-bordered">
        <thead class="thead-light">
            <th>{{ 'label.local_service'|trans }}</th>
            <th>{{ 'label.remote_service'|trans }}</th>
            <th></th>
        </thead>
        <tbody>
            {% for config in servicoConfigs %}
                <tr>
                    <td>{{ config.servicoLocal.nome }}</td>
                    <td>{{ config.servicoRemoto }}</td>
                    <td class="text-right">
                        <a href="{{ path('novosga_scheduling_config_edit', { id: config.servicoLocal.id }) }}" class="btn btn-secondary">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td class="text-right">
                    <a href="{{ path('novosga_scheduling_config_new') }}" class="btn btn-primary ml-auto">
                        <i class="fa fa-plus"></i>
                        {{ 'button.new_config'|trans }}
                    </a>
                </td>
            </tr>
        </tfoot>
    </table>
    

    <p class="links">
        <a href="{{ path('novosga_scheduling_index') }}" class="btn btn-secondary">
            <i class="fa fa-cog"></i>&nbsp;
            {% trans %}Agendamentos{% endtrans %}
        </a>
    </p>
{% endblock %}